{% extends 'timeTrack/home.html' %} {% block forms %}
<div class="row">
  <div class="col d-flex flex-column justify-content-center align-items-center">
    <h3>Log in</h3>

    <form method="post" class="py-3 my-3">
      {% csrf_token %} {{ form.non_field_errors }}

      <div class="fieldWrapper row">
        {{ form.username.errors }}
        <div class="col">
          <label class="form-label" for="{{ form.username.id_for_label }}"
            >Username:</label
          >
        </div>
        <div class="col">{{ form.username }}</div>
      </div>
      <div class="fieldWrapper row">
        {{ form.password.errors }}
        <div class="col">
          <label class="form-label" for="{{ form.password.id_for_label }}"
            >Password:</label
          >
        </div>
        <div class="col">{{ form.password }}</div>
      </div>
      <p>Don't have an account? Sign up <a href="{% url 'sign-up' %}">here</a></p>
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
  </div>
</div>
{% endblock %}
