<h3>Calculations</h3>

<p>Gross Income:</p>
<p>Rate (£{{takehome.HOURLY_RATE}}/hour) x Total hours ({{total_hrs}})</p>
<p class="text-end">= £ {{ takehome.gross_income }}</p>
<hr />
<p>Minus Expenses:</p>
<p class="text-end expense">= £ ({{takehome.EXPENSES}})</p>
<hr />
<p>Taxable Profit:</p>
<p class="text-end end-calc-step">= £ {{ takehome.gross_profit }}</p>
<hr />
<p>Taxes</p>
<ul>
  <li>
    <p>Monthly personal allowance: £ {{ takehome.PERSONAL_ALLOWANCE_MONTHLY }}</p>
  </li>
  <li>
    <p class="expense">Income Tax @20%</p>
  </li>
  <li>
    <p class="expense">Class 4 @ 9%</p>
  </li>
  <li>
    <p class="expense">Class 2 NI</p>
  </li>
</ul>
<p class="text-end expense">=Total tax: £ ({{ takehome.tax_amount }})</p>
<hr />
<p>Proft after tax</p>
<p class="text-end end-calc-step">£ {{ takehome.take_home }}</p>
